html ,body{
    font-family: Raleway, sans-serif;  
    
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-size: 16px;
    font-weight: normal;
}
ul, li{
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style: none;

}

h1{
    font-size: 32px;
    font-weight: bold;

}

h2{
    font-size: 24px;
    font-weight: bold;

}

h3{
    font-size: 16px;
    font-weight: bold;

}


            /*header*/

.logo{
    width: 120px;
    
}

.entete{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 50px;
    
}
#entete-menu{
    display: flex;    
    gap: 16px;
    
}



#entete-menu a{
    display:block;   
    padding: 44px 16px 24px;
    border-top: 2px solid transparent;
    font-size: 20px;
    
    
}


#entete-menu a:hover, a:active{
    border-top: 2px solid #0065FC;
    color: #0065FC;

}

            /*main*/

h1{
    font-size: 25px;
       
}

.main-titre{
    margin: 20px 50px;

}


.main-titre p{
    font-size: 20px;
    
}

a{
    text-decoration: none;
    color: inherit;

}

a:visited{
    color: black;
}

a:active{
    border-top: transparent;
}


/* Formulaire de recherche*/

.form-ville{  
    display: flex;
    margin: 30px 50px 30px 50px;      

         
}   

.marker{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;    
    font-size: 20px;
    background-color:#F2F2F2;   
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 50px;
    height: 50px;

}

#champ-ville{    
    
    padding: 0;
    padding-left: 5px;
    height: 48px;
    width: 250px;
    border-color: #F2F2F2;
    border-left-style: none;
    border-right-style: none;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    font-weight: bold;
   
}

.btn-research{
    cursor:pointer;
    background-color:#0065FC ;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    height: 50px;
    border: none;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
   
}

.btn-research:active{
    background-color:#DEEBFF ;

}


/* Filtres de tri*/

.filtres{
    display: flex;
    align-items: center;    
    font-weight: bold;
    margin: 25px 50px;
    gap: 20px;
}


.btn{
    cursor: pointer;
    display: flex; 
    align-items: center;   
    border-radius: 30px;
    border: 1px solid #F2F2F2;
    background-color: white;
    gap: 20px;
    padding-right: 30px;
    font-weight: bold;
    height: 50px;
    white-space: nowrap;
    box-shadow: inset 0 0 0 0 #DEEBFF;
    transition: ease-in-out 0.4s;
}

.btn:hover{
    box-shadow: inset 300px 0 0 0 #DEEBFF;

}

.bg-filter-icon{
    position: relative;
    height: 50px;
    width: 50px;
    background-color: #DEEBFF;
    border-radius: 50%;
    margin-left: -7px;

}

 .fa-money-bill-wave{
    color: #0065FC;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

.fa-child{
    color: #0065FC;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 
    
    


.fa-heart{
    color: #0065FC;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 



.fa-dog{
    color: #0065FC;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 
    
.info{
    display: flex;
    align-items: center;
    margin: 0 50px;
    gap: 20px;


}

.bg-info-icon{
   position: relative;
   border: 1px solid #F2F2F2;
   border-radius: 50%;
   height: 25px;
   width: 25px;

}


.fa-info{
    color: #0065FC;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


/* Hebergements a Marseille*/

.blue-star{
    color: #0065FC ;
    font-size: 10px;  

}

.grey-star{
    color: rgb(206, 203, 203);
    font-size: 10px;  

}

.text-bold{
    font-weight: bold;

}

.corps{
    display: flex; 
    margin: 50px;
    gap: 50px;

}


.title-heb{
    display: flex;
    width: 100%;
    padding-left: 50px;
}


.afficher-plus{
   margin: 32px;
   font-size: 16px;
   font-weight: bold;
   text-decoration: none;

}


#hebergements{

    display: flex;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    width: 65%;
    border-radius: 15px;
    padding: 32px;
    row-gap: 20px;


}

.area-card-heb{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;   
    gap: 50px;
     

}

.card-heb{
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 4px solid white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px; 
    overflow: hidden;  
    text-decoration: none;
    transition: transform .2s ease-in-out;
    
}

.card-heb p{
    font-size: 12px;

}



.card-image-heb{
    width: 300px;
    height: 200px;   
    object-fit: cover;

}

.card-text-heb{
    font-size: 10px;
    margin-left: 10px;
    margin-top: 10px;

}

.card-heb:hover{
    transform: scale(1.03);

}

/* Les plus populaires */

.title-pop{
    display: flex;    
    justify-content: space-between;
    width: 80%;
    padding-left: 50px;
    
    
}
.populaires{ 
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    width: 30%;
    padding: 32px;
    border-radius: 15px;
    row-gap: 32px;
    
}

.populaires article{
    display: flex;
    justify-content: center;
    
   
}


.card-pop{
    
    background-color: white;
    display: flex;
    flex-direction: row;
    height: 160px;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px;   
    text-decoration: none;
    overflow: hidden;
    border: 4px solid white;
    transition: transform .2s ease-in-out;
}

.card-image-pop{   
    height: 100%;
    width: 40%;    
    object-fit: cover;
   
}


.text-card-pop{
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: space-between;
   padding: 10px;
   font-size: 10px; 
    
}

.card-pop:hover{
    transform: scale(1.03);

}


/* Activites a Marseille */




.title-activities{
    margin: 20px 50px;

}


.block-activities{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 50px;
    margin-left: 50px;
    margin-right: 50px;
   
    
}


.activities-column-big{
    height: 600px;

}




.big-card-activities{
    display: flex;
    flex-direction: column;   
    background-color: white;  
    border-radius: 20px;   
    text-decoration: none;
    overflow: hidden;
    font-size: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: transform .2s ease-in-out;
}

.big-picture-activities{
    height: 540px;
    width: 410px;
    object-fit: cover;
    
}

.height-txt-big-card{
    box-sizing: border-box;
    height: 50px;
    padding-top: 10px;
    padding-left: 20px;
    
}



.big-card-activities:hover{
    transform: scale(1.03);

}



.activities-column-small{
    height: 590px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}
 
.small-card-activities{
    display: flex;
    flex-direction: column;
    background-color: white;      
    border-radius: 20px;   
    text-decoration: none;
    overflow: hidden;
    font-size: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: transform .2s ease-in-out;
}




.small-picture-activities{
    height: 200px;
    width: 410px;
    object-fit: cover;

}

.medium-picture-activities{
    height: 240px;
    width: 410px;
    object-fit: cover;

}

.height-txt-small-card{
    box-sizing: border-box;
    height: 50px;
    padding-top: 10px;
    padding-left: 20px; 

}

.small-card-activities:hover{
    transform: scale(1.03);

}

/* Footer */

.ul-footer{
    list-style-type: none;
    padding-left: 0px;
    
}

footer{     
    background-color: #F2F2F2;
    margin-top: 100px;       
}

.block-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: 0 50px;
    
}

.txt-footer{
    text-decoration: none;
}

.ul-footer span{
    font-weight: bold;

}

.ul-footer li{
    margin-top: 10px;
    margin-bottom: 10px;

}
